.daily{
    color:white;
    background-color: #03a9f4;
}

.previous{
    color:white;
    background-color: #1565c0;
}

.remaining{
    color:black;
    background-color: #F5F5F5;
}

.value-cell{
    text-align: right;
}
