<div class="positioner">

    <form [formGroup]="signUpForm" autocomplete="off" novalidate>

        <md-card>
            <md-card-title layout="row" layout-align="start center">
                <span class="md-title ya-title">Ya-Scrum</span> <span class="md-title ya-sub-title">Sign-Up</span>
            </md-card-title>
            <md-card-subtitle>Create a new Account</md-card-subtitle>
            <md-progress-bar mode="indeterminate" *ngIf="isStandBy"></md-progress-bar>

            <md-divider></md-divider>

            <md-card-content class="push-bottom-none">

                <p>
                    <md-form-field class="input-full-width">
                        <input mdInput type="text" placeholder="Name" formControlName="name">
                        <md-hint align="start">
                            <span [hidden]="!signUpForm.controls.name.errors?.required || signUpForm.controls.name.pristine" class="tc-red-600">Required</span>
                        </md-hint>
                        <md-hint align="end">{{signUpForm.controls.name.value.length}} / 30</md-hint>
                    </md-form-field>
                </p>
                <p>
                    <md-form-field class="input-full-width">
                        <input mdInput type="email" placeholder="Email" formControlName="email">
                        <md-hint align="start">
                            <span [hidden]="!signUpForm.controls.email.errors?.required || signUpForm.controls.email.pristine" class="tc-red-600">Required</span>
                        </md-hint>
                        <md-hint align="end">{{signUpForm.controls.email.value.length}} / 30</md-hint>
                    </md-form-field>
                </p>
                <p>
                    <md-form-field class="input-full-width">
                        <input mdInput type="password" placeholder="Password" formControlName="password">
                        <md-hint align="start">
                            <span [hidden]="!signUpForm.controls.password.errors?.required || signUpForm.controls.password.pristine" class="tc-red-600">Required</span>
                        </md-hint>
                        <md-hint align="end">Something hard to guess</md-hint>
                    </md-form-field>
                </p>

                <div id="invalid-auth-msg" *ngIf="invalidError" class="tc-red-600 text-center" flex>The username or password is incorrect. Please try again.</div>
            </md-card-content>
            <md-card-actions>
                <div layout="row">
                    <button flex md-raised-button color="primary" [disabled]="!signUpForm.valid || isStandBy" (click)="signUp()" class="text-upper">Sign Up</button>
                </div>
            </md-card-actions>
            <md-divider></md-divider>
            <md-card-actions>
                Already an account? <a md-button color="primary" style="text-decoration: underline;" (click)="signIn()">Sign In</a>
            </md-card-actions>

        </md-card>
    </form>


</div>