<md-card>
  <md-card-header>
    <md-icon md-card-avatar color="primary">today</md-icon>
    <md-card-title>SPRINT PROGRESS</md-card-title>
    <md-card-subtitle>Day {{(sprint)?.meetingNumber}}</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <td-data-table #dataTable [data]="progressHistory" [columns]="columns" [selectable]="selectable" [clickable]="clickable"
      [(ngModel)]="selectedRows">

      <ng-template tdDataTableTemplate="day" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          #{{value}}
        </div>
      </ng-template>
      <ng-template tdDataTableTemplate="trend" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <trend [amount]="row['daily']"></trend>
        </div>
      </ng-template>

    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>Story not started yet</h3>
    </div>
  </md-card-content>
</md-card>