.progress-chart-container{
    padding-left: 40px;
    padding-right: 40px;
}

.add-button{
    background-color: #10DDC2
}

.remove-button{
    background-color: #F57170
}

.detail-button{
    color: #757575    
}

.mat-card-actions{
    display: flex;
    justify-content: space-between !important;
}

.points-label{
    text-align: center;
}