<md-toolbar color="primary" class="section-nav-bar">
  <span>Sprint</span>
  <span class="toolbar-spacer"></span>
  <button md-button (click)="addSprint()">ADD</button>
</md-toolbar>


<div class="page-container">

  <section-title> <section-title-highlight>{{ sprintsProgress?.length }}</section-title-highlight> sprints in progress</section-title>
  <sprint-grid [sprints]="sprintsProgress"></sprint-grid>

  <section-title> <section-title-highlight>{{ sprintsPending?.length }}</section-title-highlight> upcoming sprints</section-title>
  <sprint-grid [sprints]="sprintsPending"></sprint-grid>

  <section-title> <section-title-highlight>{{ sprintsPending?.length }}</section-title-highlight> sprints completed</section-title>
  <sprint-grid [sprints]="sprintsClosed"></sprint-grid>


</div>  

