<md-toolbar color="primary" class="section-nav-bar">
  <span>Sprint</span>
  <span class="toolbar-spacer"></span>
  <button md-button (click)="addSprint()">ADD</button>
</md-toolbar>

<md-tab-group>

  <md-tab label="In Progress">
    <sprint-grid [sprints]="sprintsProgress"></sprint-grid>
  </md-tab>

  <md-tab label="Pending">
    <sprint-grid [sprints]="sprintsPending"></sprint-grid>
  </md-tab>

  <md-tab label="Closed">
    <sprint-grid [sprints]="sprintsClosed"></sprint-grid>
  </md-tab>

</md-tab-group>