<md-toolbar color="primary" class="section-nav-bar">
  <span>Sprint</span>
  <span class="toolbar-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="editSprint(sprint)">
      <md-icon>edit</md-icon>
      <span>Edit</span>
    </button>
    <button md-menu-item disabled>
      <md-icon>delete</md-icon>
      <span>Delete</span>
    </button>
  </md-menu>
</md-toolbar>



<div class="page-container">

  <div class="flex-container" fxLayout fxLayoutWrap="wrap" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="start">

    <div class="flex-item" fxFlex="70%">

      <md-card class="sprint-card">
        <md-card-header>
          <md-card-title>{{(sprint)?.name}}</md-card-title>
          <md-card-subtitle>Day {{(sprint)?.meetingNumber}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <h3 md-subheader>Description</h3>
          <p>
            {{(sprint)?.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button (click)="startNewDailyMeeting()" [disabled]="!(stories?.length > 0)"><md-icon>today</md-icon> START DAILY MEETING</button>
          <button md-button (click)="addStory()"> ADD STORY</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="flex-item" fxFlex="30%">
      <sprint-status [sprint]="sprint"></sprint-status>
    </div>


  
  </div>

      <section-title>  Burndown</section-title>
      <!-- <sprint-burndown [stories]="stories" [sprint]="sprint"></sprint-burndown> -->

      <section-title> <section-title-highlight>{{ stories?.length }}</section-title-highlight> Stories</section-title>
      <sprint-story-grid [stories]="stories"></sprint-story-grid>

      <section-title> <section-title-highlight>{{ progressHistory?.length }}</section-title-highlight> Days Schedule</section-title>
      <sprint-progress-schedule [progressHistory]="progressHistory"></sprint-progress-schedule>



</div>