.progress-chart-container{
    padding-left: 40px;
    padding-right: 40px;
}

.add-button{
    background-color: #10DDC2
}

.remove-button{
    background-color: #F57170
}

.detail-button{
    color: #757575    
}

.mat-card-actions{
    display: flex;
    justify-content: space-between !important;
}

.points-container{
    text-align: center;
    font-size: 120%;
}

.point-value{
    color: #15B7B9;
    font-weight: bold;
}

.point-label{
    color: #757575    
}

.icon-card{
    color: #757575    
}