<md-card class="story-card">
  <div class="card-header">
    <md-card-title>{{story?.name}}</md-card-title>
    <span class="ya-properties">
      <ya-highlight-tag [theme]="story.theme">#{{story?.type}}</ya-highlight-tag>
      <ya-property-tag color="#ffffff">{{story?.priority}} priority</ya-property-tag>
      <ya-property-tag color="#ffffff">{{story?.estimate}} points</ya-property-tag>
    </span>
  </div>
  <div class="story-card-content">
    <div class="chart-container">
      <div id="{{story?.$key}}"></div>
    </div>
    <div class="points-container">
      <span class="point-value">{{ progress?.daily }} points</span><br><span class="point-label"> completed today</span>
    </div>
  </div>
  <md-card-actions>
    <button md-button (click)="navigateToDetails(story?.$key)" class="detail-button">DETAILS</button>
    <span>
    <button md-mini-fab (click)="remove()" color="accent"><md-icon>keyboard_arrow_down</md-icon></button>
    <button md-mini-fab (click)="add()" color="primary"><md-icon>keyboard_arrow_up</md-icon></button>
    </span>
  </md-card-actions>
</md-card>