.story-card{
    margin: 16px;
    min-width:300px;
    max-width:400px;
}

.story-card-content{
    height:300px;
}


.chart-container{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.detail-button{
    color: #757575    
}

.mat-card-actions{
    display: flex;
    justify-content: space-between !important;
}

.points-container{
    text-align: center;
    margin-bottom: 16px;
}

.point-value{
    font-size: 110%;
    color: #03a9f4;
    font-weight: bold;
}

.point-label{
    font-size: 100%;
    color: #757575    
}

.icon-card{
    color: #757575    
}

/deep/ .c3-chart-arcs-title{
    font-size: 250%;
    fill: #03a9f4;
}
