<md-card>
    <!-- <md-icon md-card-avatar class="icon-card">web</md-icon> -->
    <md-card-title>{{(story)?.name}}</md-card-title>
    <md-card-subtitle>#{{(story)?.type}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div class="progress-chart-container">
    <!-- <canvas #doughnutCanvas></canvas> -->


  <ng2-c3 [data]='_data' [chartOptions]='_chartOptions' [configs]='_configs'></ng2-c3>

    </div>
    <br>
    <div class="points-container">
      <span class="point-value">{{ progress?.daily }} points</span><span class="point-label"> completed today</span>
    </div>  
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="navigateToDetails(story?.$key)" class="detail-button">DETAILS</button>
    <span>
    <button md-mini-fab (click)="remove()" color="accent"><md-icon>keyboard_arrow_down</md-icon></button>
    <button md-mini-fab (click)="add()" color="primary"><md-icon>keyboard_arrow_up</md-icon></button>
    </span>
  </md-card-actions>
</md-card>