.progress-chart-container{
    padding-left: 5px;
    padding-right: 5px;
}

.add-button{
    background-color: #10DDC2
}

.remove-button{
    background-color: #F57170
}

.detail-button{
    color: #757575    
}

.mat-card-actions{
    display: flex;
    justify-content: space-between !important;
}

.points-container{
    text-align: center;
    font-size: 120%;
}

.point-value{
    color: #03a9f4;
    font-weight: bold;
}

.point-label{
    color: #757575    
}

.icon-card{
    color: #757575    
}

.test{
    width: 200px;
}

/deep/ .c3-chart-arcs-title{
    font-size: 250%;
    fill: #03a9f4;
}