.progress-chart-container{
    padding-left: 5px;
    padding-right: 5px;
}

.detail-button{
    color: #757575    
}

.mat-card-actions{
    display: flex;
    justify-content: space-between !important;
}

.points-container{
    text-align: center;
    margin-bottom: 16px;
}

.point-value{
    font-size: 120%;
    color: #03a9f4;
    font-weight: bold;
}

.point-label{
    font-size: 100%;
    color: #757575    
}

.icon-card{
    color: #757575    
}

/deep/ .c3-chart-arcs-title{
    font-size: 250%;
    fill: #03a9f4;
}

.chart-container{
    padding-left: 10px;
    padding-right: 10px;
}
