<md-card class="story-card">
    <md-card-title>{{(story)?.name}}</md-card-title>
    <md-card-subtitle>
      <property-tag>#{{(story)?.type}}</property-tag>
      <property-tag>{{(story)?.priority}} priority</property-tag>
      <property-tag>{{(story)?.estimate}} points</property-tag>
    </md-card-subtitle>
    <!-- <md-divider></md-divider>       -->
  <div class="story-card-content">  
    <div class="chart-container">
      <div id="{{story.$key}}"></div> 
    </div>
    <div class="points-container">
      <span class="point-value">{{ progress?.daily }} points</span><br><span class="point-label"> completed today</span>
    </div> 
  </div>
  <md-card-actions>
    <button md-button (click)="navigateToDetails(story?.$key)" class="detail-button">DETAILS</button>
    <span>
    <button md-mini-fab (click)="remove()" color="accent"><md-icon>keyboard_arrow_down</md-icon></button>
    <button md-mini-fab (click)="add()" color="primary"><md-icon>keyboard_arrow_up</md-icon></button>
    </span>
  </md-card-actions>
</md-card>