<div class="positioner">
    <form [formGroup]="groupForm" autocomplete="off" novalidate>
        <md-card>
            <md-card-title layout="row" layout-align="start center">
                <span class="md-title ya-title">Ya-Scrum</span> <span class="md-title ya-sub-title">Sign-Up</span>
            </md-card-title>
            <md-card-subtitle>Create a new Group</md-card-subtitle>
            <md-progress-bar mode="indeterminate" *ngIf="isStandBy"></md-progress-bar>
            <md-divider></md-divider>
            <md-card-content class="push-bottom-none">
                <p>
                    <md-form-field class="input-full-width">
                        <input mdInput type="text" placeholder="Group Name" formControlName="name">
                        <md-hint align="start">
                            <span [hidden]="!groupForm.controls.name.errors?.required || groupForm.controls.name.pristine" class="tc-red-600">Required</span>
                        </md-hint>
                        <md-hint align="end">{{groupForm.controls.name.value.length}} / 30</md-hint>
                    </md-form-field>
                </p>
                <div id="invalid-auth-msg" *ngIf="invalidError" class="tc-red-600 text-center" flex>The username or password is incorrect. Please try again.</div>
            </md-card-content>
            <md-card-actions>
                <div layout="row">
                    <button type="button" flex md-raised-button color="primary" [disabled]="!groupForm.valid || isStandBy || user === undefined"
                        (click)="onSubmit()" class="text-upper">Create</button>
                </div>
            </md-card-actions>
        </md-card>
    </form>
</div>