<div class="dialog-header">
    <h2 *ngIf="story.$key">Update Story</h2>
    <h2 *ngIf="!story.$key">Create new Story</h2>
</div>

<div class="dialog-content">

    <md-dialog-content>
        <form [formGroup]="storyForm" autocomplete="off" novalidate>
            <p>
                <md-input-container style="width:60%">
                    <input mdInput placeholder="Title" formControlName="name">
                </md-input-container>
                <md-select placeholder="Type" formControlName="type" style="width:15%">
                    <md-option *ngFor="let type of typeList" [value]="type.key">
                        {{type.value}}
                    </md-option>
                </md-select>
                <md-select placeholder="Theme" formControlName="theme"  style="width:15%">
                    <md-option *ngFor="let theme of themeList" [value]="theme">
                        {{theme}}
                    </md-option>
                </md-select>
            </p>
            <p>                
                <md-input-container style="width:40%">
                    <input type="text" mdInput placeholder="Product Owner" formControlName="productOwner" [mdAutocomplete]="auto">
                </md-input-container>
                <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
                    <md-option *ngFor="let user of users | async" [value]="user">
                        {{ user.name }}
                    </md-option>
                </md-autocomplete>
                <md-select placeholder="Priority" formControlName="priority" style="width:20%">
                    <md-option *ngFor="let priority of priorityList" [value]="priority.key">
                        {{priority.value}}
                    </md-option>
                </md-select>
                <md-input-container style="width:20%">
                    <input type="number" mdInput placeholder="estimate" formControlName="estimate">
                </md-input-container>
            </p>

            <md-input-container class="input-full-width">
                <textarea mdInput placeholder="Description" rows="6" formControlName="description"></textarea>
            </md-input-container>

            <md-input-container class="input-full-width">
                <textarea mdInput placeholder="Acceptance Criterias" rows="6" formControlName="criterias"></textarea>
            </md-input-container>

        </form>
    </md-dialog-content>
</div>


<div class="dialog-action">
    <md-dialog-actions align="end">
        <button md-button color="secondary" md-dialog-close>CANCEL</button>
        <button md-button color="primary" (click)="apply()" [disabled]="!storyForm.valid">APPLY</button>
    </md-dialog-actions>
</div>