<md-card>
  <md-card-title>{{(story)?.name}}</md-card-title>
  <md-card-subtitle>
    <ya-property-tag>#{{(story)?.type}}</ya-property-tag>
    <ya-property-tag>{{(story)?.priority}} priority</ya-property-tag>
    <ya-property-tag>{{(story)?.estimate}} points</ya-property-tag>
  </md-card-subtitle>
  <section>
    <md-progress-bar [mode]="'determinate'" [value]="progressAsPercentage()"></md-progress-bar>
  </section>
  <div class="story-card-content">
    <md-card-content>
      <p>
        {{(story)?.description}}
      </p>
    </md-card-content>
    <md-divider></md-divider>
  </div>
  <md-list>
    <md-list-item>
      <ngu-letter-avatar md-list-avatar avatar-data='{{story?.name}}' avatar-shape='round' avatarborder='true' avatar-height="40"
        avatar-width="40" avatar-font-size="20">
      </ngu-letter-avatar>
      <h3 md-line> {{story?.name}} </h3>
      <p md-line>
        <span> {{story?.name}} </span>
        <span> -- {{story?.name}} </span>
      </p>
    </md-list-item>
  </md-list>
  <md-card-actions>
    <button md-button (click)="navigateToDetails(story?.$key)">LEARN MORE</button>
  </md-card-actions>
</md-card>