@import '../../ya-theme';

.ya-properties{
    padding-left: 16px;
}

.card-header{
    background-color: $blue-grey;
    height: 120px;
}

md-card-title{
    color: $blue-grey-text;
}

.story-card-content{
    height:250px;
}

.sprint-name{
    text-decoration: none;
    color: $blue-grey-light;
    font-size: 130%;
}

md-card-title{
    margin-bottom: 5px;
}