@import '../../ya-theme';



md-card{
    border-color: #CDDC39;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
}

.story-card-content{
    height:250px;
}

.sprint-name{
    text-decoration: none;
    color: $grey-dark;
    font-size: 120%;
}

md-card-title{
    margin-bottom: 5px;
}