<md-card class="sprint-card">
  <div class="sprint-title">
    <h3>{{sprint?.name}}</h3>
  </div>


  <img *ngIf="sprint.thumbnail" md-card-image [src]="sprint.thumbnail">  
  <img *ngIf="!sprint.thumbnail" md-card-image src="assets/img/story-background.png">
  
  <md-progress-bar [mode]="'determinate'" [value]="progressAsPercentage()"></md-progress-bar>
  <md-list>
    <md-list-item>
      <ngu-letter-avatar md-list-avatar avatar-data='{{sprint?.name}}' avatar-shape='round' avatarborder='true' avatar-height="40"
        avatar-width="40" avatar-font-size="20">
      </ngu-letter-avatar>
      <h3 md-line> {{sprint?.name}} </h3>
      <p md-line>
        <span> scrum master </span>
      </p>
    </md-list-item>
  </md-list>
  <md-card-content>
    <br> 5 stories
    <br> 3 days to go
    <br> 90% completed
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="navigateToDetails(sprint?.$key)" color="primary">LEARN MORE</button>
  </md-card-actions>
</md-card>