.sprint-card{
    margin: 16px;
}

.sprint-title {
  position: absolute;
  top: 20px;
  left: 60px;
  width: 100%;
  text-align: left;
}
.sprint-title > h3  {
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
  font-size: 150%;
}
.sprint-card > header > h5  {
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
  font-size: 100%;
}