@import '../../ya-theme';

.global-container{
    background-color: $background-grey;
}

.positioner{
    max-width: 1240px;
    margin: 0 auto;
}

.burndown-container{
    display: flex;
    justify-content: center;
}

.sprint-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: left;
    color: white; 
    z-index: 11;
  }

.image-overlay {
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    z-index: 10;    
    background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0), rgba(255, 255, 255, 1));
}

.image-container{
    position: relative;
}

.sprint-title {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
    color: white; 
    background: $blue-light;
    padding: 8px;
    z-index: 11;    
    font-size: 200%;
}

.scrum-master{
    position: absolute;
    top: 80px;
    left: 20px;
    text-align: left;
    color: $grey-light; 
    background: $blue-light;
    padding: 8px;
    z-index: 11;  
    font-size: 140%    
}

.metrics{
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}