<div class=global-container>

  <div class="positioner">
    <input type="file" accept="image/*" #file style="display:none" (change)="uploadBackground($event)">

    <md-card class="sprint-card">
      <div class="sprint-title">
        {{sprint?.name}}
      </div>

      <div class="scrum-master">
          @{{scrummaster?.name}}
      </div>

      <div class="sprint-menu">
        <button md-icon-button (click)="editSprint(sprint)"><md-icon>edit</md-icon></button>

        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="editSprint(sprint)">
            <md-icon>edit</md-icon>
            <span>Edit</span>
          </button>
          <button md-menu-item (click)="file.click()">
              <md-icon>image</md-icon>
              <span>Change Background</span>
          </button>
          <button md-menu-item disabled>
            <md-icon>delete</md-icon>
            <span>Delete</span>
          </button>
        </md-menu>
      </div>

      <div class="image-container">
        <div class="image-overlay">
          <div class="metrics">
              <ya-property-tag>day :: {{(sprint)?.meetingNumber}}</ya-property-tag>
              <ya-property-tag>progress :: {{progressAsPercentage() | number:'1.0-0' }}%</ya-property-tag>
              <ya-property-tag>stories :: {{stories?.length}} stories</ya-property-tag>
              <ya-property-tag>estimate :: {{sprint?.estimate}}</ya-property-tag>
              <ya-property-tag>velocity :: {{sprint?.velocity}}</ya-property-tag>
          </div>
        </div>
        <img *ngIf="sprint?.background" md-card-image [src]="sprint?.background">
      </div>
      <md-progress-bar [mode]="'determinate'" [value]="progressAsPercentage()"></md-progress-bar>
      <md-card-actions align="end">
        <button md-button (click)="startNewDailyMeeting()" [disabled]="!(stories?.length > 0)" color="primary"><md-icon>today</md-icon> START DAILY MEETING</button>
      </md-card-actions>
    </md-card>

    <ya-section-title>Burndown Chart:
      <ya-section-title-highlight>{{(sprint)?.meetingNumber}} days</ya-section-title-highlight>
      <ya-section-button-bar><button md-icon-button (click)="addStory()"><md-icon>fullscreen</md-icon></button></ya-section-button-bar>
    </ya-section-title>
    
    <div fxLayout fxLayoutWrap="wrap" fxLayoutAlign="start start">
      <div class="flex-item" fxFlex="5%">
      </div>
      <div class="flex-item" fxFlex="90%">
        <ya-sprint-burndown [stories]="stories" [sprint]="sprint"></ya-sprint-burndown>
      </div>
      <div class="flex-item" fxFlex="5%">
      </div>
    </div>
    
    <ya-section-title>
      Sprint Backlog:
      <ya-section-title-highlight>{{ stories?.length }} stories</ya-section-title-highlight>
      <ya-section-button-bar><button md-icon-button (click)="addStory()"><md-icon>add</md-icon></button></ya-section-button-bar>      
    </ya-section-title>

    <ya-sprint-story-grid [stories]="stories" (onAdd)="addStory()"></ya-sprint-story-grid>

    <ya-section-title>
      <ya-section-title-highlight>{{ progressHistory?.length }}</ya-section-title-highlight>
      Days Schedule
    </ya-section-title>

    <ya-sprint-progress-schedule [progressHistory]="progressHistory"></ya-sprint-progress-schedule>
  
  </div>

</div>