<md-card class="sprint-card">
  <md-card-header (click)="navigateToDetails(sprint?.$key)">
    <md-card-title>{{sprint?.name}}</md-card-title>
    <md-card-subtitle>{{sprint?.startDate | date}} - {{sprint?.endDate | date}}</md-card-subtitle>
  </md-card-header>
  <img *ngIf="sprint.thumbnail" md-card-image [src]="sprint.thumbnail">
  <img *ngIf="!sprint.thumbnail" md-card-image src="assets/img/story-background.png">
  <md-card-content>
    <md-progress-bar [mode]="'determinate'" [value]="progressAsPercentage()"></md-progress-bar>
    <br> <b>{{sprint.storyNumber}}</b> stories
    <br> <b>{{dayToGo()}}</b> days to go
    <br> <b>{{progressAsPercentage()}}%</b> completed
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="navigateToDetails(sprint?.$key)" color="primary">LEARN MORE</button>
  </md-card-actions>
</md-card>