@import '../../ya-theme';

.global-container{
    background-color: $background-grey;
}

.positioner{
    max-width: 1240px;
    margin: 0 auto;
}

.burndown-container{
    display: flex;
    justify-content: center;
}

.sprint-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: left;
    color: white; 
    z-index: 11;
  }

.image-overlay {
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    z-index: 10;    
    background: linear-gradient( rgba(255,0,0,0), rgba(55, 71, 79, 0.8));
}

.image-container{
    position: relative;
}

.sprint-title {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
    color: white; 
    background: $blue-gray;
    padding: 10px;
    z-index: 11;    
  }
  .sprint-title > h3  {
    margin: 0;
    font-size: 200%;
  }
