<md-card>
    <md-card-content>
        <div style="display: block">
            <canvas height="180" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                [legend]="false" [colors]="colors" [options]="options"></canvas>
        </div>

        <table td-data-table>

            <!-- <th td-data-table-column>
            </th>
            <th td-data-table-column>
            </th> -->

            <tr td-data-table-row>
                <td td-data-table-cell>
                    Previous
                </td>
                <td td-data-table-cell class="value-cell">
                    <md-chip class="value-chip previous">{{progress?.previous}}</md-chip>
                </td>
            </tr>

            <tr td-data-table-row>
                <td td-data-table-cell>
                    Daily
                </td>
                <td td-data-table-cell class="value-cell">
                    <md-chip class="value-chip daily">{{progress?.daily}}</md-chip>
                </td>
            </tr>
            
            <tr td-data-table-row>
                <td td-data-table-cell>
                    Remaining
                </td>
                <td td-data-table-cell class="value-cell">
                    <md-chip class="value-chip remaining">{{progress?.remaining}}</md-chip>
                </td>
            </tr>            

        </table>

    </md-card-content>
</md-card>
