.value-chip{
    width: 50px;
    text-align: center;
    font-weight: bold;
}

.daily{
    color:white;
    background-color: #10DDC2;
}

.previous{
    color:white;
    background-color: #15B7B9;
}

.remaining{
    color:black;
    background-color: #F5F5F5;
}

.value-cell{
    text-align: right;
}