    <div class="flex-container" 
        fxLayout
        fxLayoutWrap="wrap"
        fxLayout.xs="column"
        fxLayoutAlign="start start"
        fxLayoutAlign.xs="start">

        <div class="flex-item" fxFlex="33%" *ngFor="let story of stories;">
            <story-card [story]="story"></story-card>
        </div>

    </div> 

<!-- <md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list> -->
