@import '../../../ya-theme';


.daily{
    color:white !important;
    background-color: $blue-light !important;
}

.previous{
    color:white !important;
    background-color: $blue-dark !important;
}

.remaining{
    color:black !important;
    background-color: $grey-light !important;
}

.value-cell{
    text-align: right;
}

.story-card-content{
    height:350px;
}

.chart-container{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}


.icon-card{
    color: $icon-grey  
}

/deep/ .c3-chart-arcs-title{
    font-size: 250%;
    fill: $blue-light;
}
