<h2 md-dialog-title>{{story?.name}} - Day {{progress?.day}}</h2>

<md-dialog-content>
    <form [formGroup]="storyForm" autocomplete="off" novalidate>

        <p>
            <md-input-container class="input-full-width">
                <input type="number" mdInput placeholder="Daily Progress" formControlName="daily">
            </md-input-container>
        </p>

        <md-chip-list>
            <table class="key-value-table">
                <tbody>
                    <tr>
                        <td>Estimate</td>
                        <td>
                            <md-chip class="value-chip">{{story?.estimate}}</md-chip>
                        </td>
                    </tr>
                    <tr>
                        <td>Story Progress</td>
                        <td>
                            <md-chip class="value-chip">{{story?.progress}}</md-chip>
                        </td>
                    </tr>
                    <tr>
                        <td>Previous</td>
                        <td>
                            <md-chip class="value-chip">{{progress?.previous}}</md-chip>
                        </td>
                    </tr>
                    <tr>
                        <td>Daily</td>
                        <td>
                            <md-chip class="value-chip">{{progress?.daily}}</md-chip>
                        </td>
                    </tr>
                    <tr>
                        <td>Remaining</td>
                        <td>
                            <md-chip class="value-chip">{{progress?.remaining}}</md-chip>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-chip-list>

    </form>
</md-dialog-content>

<md-dialog-actions>

    <button md-button color="primary" (click)="apply()">Apply</button>
    <button md-button color="secondary" md-dialog-close>Close</button>

</md-dialog-actions>