<md-card>
    <div class="card-header">
        <md-card-title>Progress - Day {{progress?.day}}</md-card-title>
    </div>
    <md-card-content>
        <div class="story-card-content">
            <div class="chart-container">
                <div id="chart"></div>
            </div>
        </div>
        <md-chip-list>
            <table class="key-value-table">
                <tbody>
                    <tr>
                        <td>Previous</td>
                        <td>
                            <md-chip class="value-chip previous">{{progress?.previous || "-"}}</md-chip>
                        </td>
                    </tr>
                    <tr>
                        <td>Daily</td>
                        <td>
                            <md-chip class="value-chip daily">{{progress?.daily || "-"}}</md-chip>
                        </td>
                    </tr>
                    <tr>
                        <td>Remaining</td>
                        <td>
                            <md-chip class="value-chip remaining">{{progress?.remaining || "-"}}</md-chip>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-chip-list>
    </md-card-content>
</md-card>