@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
//@import '~@covalent/markdown/markdown-theme';
//@import '~@covalent/highlight/highlight-theme';\

@include mat-core();

$primary: mat-palette($mat-light-blue, 500);
$accent:  mat-palette($mat-blue-grey, 600, A100, A400);

$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);



$title-grey : #757575;
$background-grey: #f6f6f6;

$blue-light: #03a9f4;
$blue-dark: #1565c0;

@include angular-material-theme($theme);
@include covalent-theme($theme);

// (optional) Additional themes
//@include covalent-markdown-theme($theme);
//@include covalent-highlight-theme();
