<div class="cards">

<md-card>
    <md-card-header>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>



<md-card>
    <md-card-header>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        Accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>



<md-card>
    <md-card-header>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>



<md-card>
    <md-card-header>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>



<md-card>
    <md-card-header>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>



<md-card>
    <md-card-header>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>

</div>